<div class="container">
	<div class="card my-3">
		<div class="card-header">
			Locations
		</div>
		<div class="card-block">
			<div class="form-group row">
				<label class="col-2 col-form-label">New</label>
				<div class="col-6">
					<input class="form-control" type="text" [(ngModel)]="newLocation">
				</div>
				<div class="col-4">
					<button class="btn btn-primary" (click)="addLocation()" [disabled]="!newLocation" style="width: 100%;">Add</button>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-2 col-form-label">Select</label>
				<div class="col-10">
					<select class="form-control" [(ngModel)]="selectedLocation" (change)="onLocationChanges()">
						<option *ngFor="let location of locations" [value]="location.name">{{location.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<ngb-tabset>
		<ngb-tab title="Current weather">
			<template ngbTabContent>
					<div *ngIf="weather">
						<pre>{{ weather | async | json }}</pre>
					</div>
					<div *ngIf="error">
						<pre>{{ error | json }}</pre>
					</div>
			</template>
		</ngb-tab>
		<ngb-tab>
			<template ngbTabTitle>Forecast</template>
			<template ngbTabContent>
				<p>Forecast</p>
			</template>
		</ngb-tab>
	</ngb-tabset>

</div>
